<%= form_with model: @habit, url: update_record_habit_path(@habit), method: :patch, data: {turbo: false} do |form| %>
<div class="actual_value-page">
  <div>
    <%= form.label :成果を入力してみましょう, class: "actual_value-formtext" %>
  </div>

  <div>
    <%= form.number_field :actual_value, class: "actual_value-form" %> <%= @habit.unit %>
  </div>

  <div class = "actual-submit-btn">
    <%= form.submit "完了", id: "actualsubmitbtn"%>
    </div>

</div>

<% end %>

<button id="actualvalue-btn">履歴を表示</button>

<div id="actualvalue-record">
  <h3>これまでの入力履歴</h3>
 <table>
  <tr>
   <th>日付</th>
   <th>成果</th>
  </tr>
  
  <% @habit.actual_value_records.order(date: :desc).each do |record| %>
    <tr>
     <td><%= record.date.strftime("%Y-%m-%d") %></td>
     <td><%= record.value %> <%= @habit.unit %></td>
    </tr>
  <% end %>

</table>
</div>
